* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: antiquewhite; */
}

.hero img {
  width: 250px;
  height: 250px;
  border-radius: 90%;     /* Makes the image circular */
  object-fit: cover;      /* Maintains aspect ratio and fills the frame */
  object-position: center; /* Centers the image content */
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}



.hero-right {
     align-items: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.hero-right h1 {
    font-size: 55px;
    padding-right: 40px;

}

.hero-right p {
    font-size: 20px;
    padding: 20px;
}

.middle {
    display: flex;
    justify-content: space-between;
}
.left,.right {
    width: 50%;
    padding: 45px;
}
.left{
    background-color: bisque;
    line-height: 30px;
}
.right{
    background-color: black;
    color: white;
    line-height: 30px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    /* background-color: burlywood; */
}

footer p {
    font-size: 15px;
}

footer i {
    font-size: 25px;
    margin-right: 12px;
}
.fa-facebook {
    color: blue;
    opacity: 0.6;
    transition: 0.4s;
}

.fa-facebook:hover {
    opacity: 1.5;
}
.fa-youtube {
    color: red;
    opacity: 0.6;
    transition: 0.4s;
}
.fa-youtube:hover {
    opacity: 1.5;
}

fa-whatsapp {
    color: green;
    opacity: 0.6;
    transition: 0.4s;
}
.fa-whatapp:hover {
    opacity: 1.5;
}

@media screen and (max-width: 480px) {
    .hero {
        flex-direction: column;
    }

    .hero img {
        height: 200px;
        width: 200px;
        margin-right: 25px;
    }

    .hero-right {
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .hero-right h1 {
        font-size: 40px;
        margin-top: -30px;
        margin-left: 15px;
    } 
    .hero-right p {
        font-size: 15px;
        align-items: center;
        padding-bottom: 15px;
        /* margin-left: 8px; */
        text-align: center;
        margin-top: -15px;
    }
    footer {
        flex-direction: column;
    }
    footer p {
        font-size: 18px;
    }
    footer i {
        font-size: 18px;
        margin: 12px;
    }
}
@media screen and (max-width: 780px)  {
    .hero img {
        height: 200px;
        width: 200px;
    }
    .hero-right h1 {
        font-size: 45px;
        margin-top: -30px;
    } 
    .hero-right p {
        font-size: 20px;
        align-items: center;
        padding-bottom: 15px;
        margin-right: 10px;
        text-align: center;
    }

    footer i {
        font-size: 18px;
        margin: 12px;
    }

    footer p {
        font-size: 25px;
    }
}

